<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.meruvian.midas.core">

    <application>
        <meta-data android:name="DATABASE" android:value="midas"/>
        <meta-data android:name="VERSION" android:value="1"/>
        <meta-data android:name="QUERY_LOG" android:value="true"/>
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="org.meruvian.midas"/>
    </application>

</manifest>
